body {
    width: 400px;
}

.user-name {
    font-size: 12px;
}

.block {
    border: 1px solid lightgray;
    padding: 15px 5px 5px 5px;
    position: relative;
    margin: 10px 0;
}

.header {
    position: relative;
    left: 50%;
    top: -24px;
    transform: translate(-50%);
    background-color: #fff;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.block.no-auth {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block.no-auth div {
    font-weight: bold;
    font-size: 18px;
}

h1 {
    text-align: center;
}

.issues-list {
    list-style-type: none;
    padding: 10px;
}

.issue {
    font-size: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.no-items {
    font-size: 16px;
    text-align: center;
}

.issue.bg {
    background-color: #BBDEFB;
}

.issue.active {
    outline: 1px solid black;
    font-weight: bold;
    background-color: #FFEE58;
}

.issue.set {
    background-color: #B39DDB;
}

.issue span {
    display: inline-block;
}

.issue-name {
    flex: 50%;
}

.issue-time {
    flex: 30%;
}

.issue-time input[type=text] {
    font-size: 16px;
    border: none;
    width: 100px;
    background: none;
}

.issue-remove {
    flex: 20%;
    text-align: right;
}

.issue-remove button {
    width: 24px;
    height: 24px;
    border: none;
    background: url('images/remove.png') no-repeat;
    cursor: pointer;
    color: ;
}

.issue-remove button:active, .issue-remove button:focus {
    outline: none;
}

.issue-add {
    background-color: #E1BEE7;
    padding: 5px 10px;
}

.issue-add input {
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
}

.issue-add input[type=submit] {
    font-size: 16px;
    padding: 6px 14px;
    background-color: #BBDEFB;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s linear;
}

.issue-add input[type=submit]:hover {
    background-color: #64B5F6;
}

.issue-add input[type=submit]:active, .issue-add input[type=submit]:focus {
    outline: none;
}

.summary {
    padding: 0 6px;
    font-size: 16px;
    margin-top: 10px;
}

.set-tracker {
    margin-top: 10px;
    text-align: center;
}

.set-tracker button {
    font-size: 16px;
    padding: 16px 24px;
    background-color: #69F0AE;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s linear;
}

.set-tracker button:hover {
    background-color: #00E676;
}

.set-tracker button:active, .set-tracker button:focus {
    outline: none;
}